
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AdminPortal/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>
<main id="main">
    <section>
        <div>
            <img src="~/img/Testingimage/web banner 9.jpg" style="width: 100%; padding-left: 0px;opacity:0.5" />
            @*<img src="~/img/bg-image1.jpeg" style="width: 100%; padding-left: 0px;opacity:0.5">*@
        </div>
    </section>
    <section id="page">
        <div class="container">
            <header class="section-header">
                <h3>About Us</h3>
                <p id="text">
                    SocialClub Co-Working space is an ideal spot for Freelancers, Remote Workers, Travelers, Start-up Companies and budding Entrepreneurs. This spot gives an innovative climate,  permitting you to focus at work without any interruption. SocialClub gives all that you want in an expert work space environment yet, doesn't demands consistent rise of overhead expenses or any sort of utility bills.<br />
                    <br />
                    Our Members will benefit by the nearby local area, allowing you to create contacts within the co work space and around the local area with other businesses hence, creating a vast impact to increase your business rapidly. We have a huge scope of enrollment bundles to address everyones issues. To make ourselves one of a kind in the Co-working local area, we have created a relaxing spot with excellent out-fitted workplace. Our group fits global norms of any sort. Remembering the customers' requirements, we are shaping local area  immensely affecting the cooperating local area to function around more critically in our country. So are you a beginner in business who wants to increase contacts around co-working space or need to outsource other services around the local area ? or are you a freelancer who needs an absolute privacy to dig out your creativity in a peaceful ambiance? Or if you are new in the city and have no leads to people, businesses and office space? Then Join US ! let our team give you a tour to your co-working space.
                </p>
            </header>
        </div>
     
    </section>

</main>

